@page "/counter"

<h1 class="text-9xl">Counter</h1>

<p class="text-8xl">Current count: @currentCount</p>

<div class="flex flex-col justify-center items-start px-5">
    <button class="btn btn-secondary mt-5" @onclick="IncrementCount">Increment</button>
    <button class="btn btn-secondary mt-5" @onclick="DecrementCount">Decrement</button>
</div>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
