@page "/"
@using Fatihdgn.Notes.App.Data;
@inject NotesDB context

<NavLink class="underline" href="/counter">Go to Counter</NavLink>

<div class="flex flex-row p-2">
@foreach(var note in Notes)
{
  <div class="flex flex-row bg-secondary rounded border-2 border-primary p-2 mr-5">
      <span class="text-lg">@note.Name</span>
  </div>
}
</div>

@code {
    private List<Note> Notes { get; set; } = new List<Note>();

    protected override async Task OnInitializedAsync()
    {
        Notes = await context.GetItemsAsync();

        StateHasChanged();
    }
}