@page "/"

<div class="flex flex-col min-h-screen items-center justify-center">
  <div class="text-3xl">Hello Blazor!</div>

  <NavLink class="underline" href="/counter">Go to Counter</NavLink>
</div>